global
    log /dev/log local0
    maxconn 2048
    daemon

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 10s
    timeout client 1m
    timeout server 1m

frontend galera_frontend
    bind *:3306
    default_backend galera_backend

backend galera_backend
    balance roundrobin
    option mysql-check user haproxy_check
    server mariadb_1 mariadb_1:3306 check
    server mariadb_2 mariadb_2:3306 check
    server mariadb_3 mariadb_3:3306 check
    server mariadb_4 mariadb_4:3306 check
    server mariadb_5 mariadb_5:3306 check

listen stats
    bind *:8404
    mode http
    stats enable
    stats uri /stats
    stats refresh 10s
    stats show-node
    stats auth {{ haproxy_user }}:{{ haproxy_password }}
